[Unit]
Description=The tool to provide cluster metrics
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
PIDFile=/run/glaukos.pid
ExecStartPre=/usr/bin/rm -f /run/glaukos.pid
ExecStart=/usr/bin/glaukos
ExecReload=/bin/kill -s HUP $MAINPID
TimeoutStopSec=10
KillMode=process
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target